@import "tailwindcss";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background: linear-gradient(to right, #ff7b00, #ff9800);

} */
 .mainclass{
    background: linear-gradient(to right, #0d1051, #4c9eba);
    
 }
.border{
    border: 2px solid rgb(106, 47, 106);
}
.button1{
    background-color: #ed790cfd !important;
}
.button2{
    background-color: #ed790cb8 !important;

}
form{
    padding-top: 15px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    
}
.textfield{
    margin-top:10px;
    width: 100%;
}
#textfield1{
    width: 50%;
}
.Button{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.maindiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    justify-content: center;
    display: flex;
}

.maindiv2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
}


.imgdiv{
    height: 500px;
}